body {
  box-sizing: border-box;
  padding: 10px 20px 30px;
  background: #eee;
  font-family: sans-serif;
}

.wrap {
  margin: 10px 20px;
  background: #fff;
  padding: 10px 20px 30px;
}

#PrevSilde {

  position: absolute;
  margin: 34% 5% 0% 0;
  left: 33%;
  border: none;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 10px 5% 10px 10px;
}

#PrevSilde:hover {
  color: rgb(243, 236, 236);

}

#NextSilde {

  position: absolute;
  margin: 34% 0 0% 5%;
  right: 33%;
  border: none;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 10px 10px 10px 5%;
}

#NextSilde:hover {
  color: rgb(243, 236, 236);

}