.news-date-autor p {
    float: right;
}

.logo img {
    width: 100%;
}

.text-content p {
    margin: 10px;
}

.like .btn-like {
    border-radius: 5px;
    width: 7em;
    box-shadow: none;
    outline: none !important;
}

.btn-like {
    background-color: rgba(178, 211, 243, 0.473);
    color: rgba(0, 102, 255, 0.788)
}

.btn-like:hover {
    background-color: rgb(178, 211, 243);
}

.coments {
    float: right;
    color: rgba(0, 0, 0, 0.479)
}

.btn-like.write {
    width: 10em;
    background-color: rgba(255, 212, 20, 0.486);
    color: black;
    border-radius: 5px;
    box-shadow: none;
    outline: none !important;
}

.btn-like.write:hover {
    background-color: rgb(255, 212, 20);
}

.write-coments {
    float: right;
}

.line-vertical {
    width: 2px;
    height: 30px;
    background-color: rgba(0, 0, 0, 0.377);
    display: inline-block;
    position: absolute;
}

.name-autor-coment p {
    font-family: Arial, Helvetica, Verdana, sans-serif;
    font-size: 105%;
    font-weight: bold;
    margin-left: 10px;
}

.name-date-coment {
    float: right;
}

.text-coment {
    margin-left: 10px;
}

.coment-send-autor {
    width: 100%;
    height: 40px;
    ;
    background-color: rgba(0, 0, 0, 0.040);
    border: none;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    color: rgba(0, 0, 0, 0.4);
}

.coment-send-coment {
    width: 100%;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.040);
    border: none;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    color: rgba(0, 0, 0, 0.4);
}

.coment-send-button {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: rgb(255, 212, 20);
}

.coment-send-button:hover {
    background-color: rgba(255, 212, 20, 0.486);
}

.append-news-div {
    right: 10px;
    position: fixed;
    bottom: 10px;
    z-index: 1;
}

.append-news-btn {
    background-color: rgba(102, 102, 182, 0.527);
    border-radius: 50px;
    height: 90px;
}

.append-news-btn:hover {
    background-color: rgba(92, 92, 235, 0.8);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.hide {
    display: none;
}

.construct {
    width: 100%;
    height: 100%;
}

.constuct-autor {
    width: 100%;
    height: 40px;
    ;
    background-color: rgba(0, 0, 0, 0.040);
    border: none;
    margin-top: 50px;
    margin-bottom: 10px;
    border-radius: 5px;
    color: rgba(0, 0, 0, 0.4);
}

.constuct-autor-p {
    margin-top: 50px;
}

.constuct-text {
    width: 100%;
    height: 100px;
    ;
    background-color: rgba(0, 0, 0, 0.040);
    border: none;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    color: rgba(0, 0, 0, 0.4);
}

.constuct-url {
    width: 100%;
    height: 40px;
    ;
    background-color: rgba(0, 0, 0, 0.040);
    border: none;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    color: rgba(0, 0, 0, 0.4);
    text-align: center;
    padding: 7px;
}

.constuct-http {
    width: 100%;
    height: 40px;
    ;
    background-color: rgba(0, 0, 0, 0.040);
    border: none;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    color: rgba(0, 0, 0, 0.4);
    text-align: center;
    padding: 7px;
}

.constuct-url-img {
    max-width: 700px;
    display: block;
    margin: 0 auto;
}

.constuct-http-btn {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: rgb(0, 0, 0, 0.040);
    border-radius: 5px;
    border: none;
    padding-bottom: 8px;
    padding-top: 8px;
}

.constuct-http-btn:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.constuct-url-btn {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: rgb(0, 0, 0, 0.040);
    border-radius: 5px;
}

.constuct-url-btn p {
    text-align: center;
    margin-bottom: 8px;
    margin-top: 7px;
}

.constuct-url-btn:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.constuct-submit {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: rgb(255, 212, 20);
    border-radius: 5px;
}

.constuct-submit:hover {
    background-color: rgba(255, 212, 20, 0.486);
}

.article {
    margin-bottom: 30px;
}